---
import LetterGlitch from "../React/LetterGlitch.tsx";
import LogoWall from "../components/logoWall.astro";
import SkillsList from "../React/SkillsList.tsx";
---

<section class="text-[var(--white)] mt-12 md:mt-0" id="home">
  <div class="max-w-5xl mx-auto space-y-12 md:py-36 pb-14">

    {/* Full width text block */}
    <div class="w-full flex flex-col md:flex-row items-start md:items-center justify-between gap-8">
      
      {/* Name & Role block */}
      <div class="flex flex-col text-left max-w-lg space-y-3">
        <p class="text-md md:text-lg text-[var(--white-icon)] shiny-white">Hi, I'm</p>
        <h1 class="text-[var(--white)] text-5xl md:text-6xl font-semibold leading-none">
          Sadman <br /> Alam
        </h1>
        <p class="text-md md:text-lg text-[var(--white-icon)] shiny-white tracking-wide">
          Designer • Indie Maker • Visionary
        </p>
      </div>

      {/* Tagline block */}
      <p class="text-md md:text-2xl text-[var(--white-icon)] max-w-xl leading-relaxed">
        Turning vision into seamless and inspiring digital experiences through <span class="text-[var(--sec)] shiny-sec">design</span> and creativity
      </p>
    
    </div>

    {/* Social Icons */}
    <div class="flex justify-start gap-2  max-w-md">
      <a
        target="_blank"
        href="https://www.instagram.com/sadmanalam_"
        aria-label="Instagram"
        class="text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-8"
        >
          <path
            d="M8,2 L16,2 C19.3137085,2 22,4.6862915 22,8 L22,16 C22,19.3137085 19.3137085,22 16,22 L8,22 C4.6862915,22 2,19.3137085 2,16 L2,8 C2,4.6862915 4.6862915,2 8,2 Z M8,4 C5.790861,4 4,5.790861 4,8 L4,16 C4,18.209139 5.790861,20 8,20 L16,20 C18.209139,20 20,18.209139 20,16 L20,8 C20,5.790861 18.209139,4 16,4 L8,4 Z M12,17 C9.23857625,17 7,14.7614237 7,12 C7,9.23857625 9.23857625,7 12,7 C14.7614237,7 17,9.23857625 17,12 C17,14.7614237 14.7614237,17 12,17 Z M12,15 C13.6568542,15 15,13.6568542 15,12 C15,10.3431458 13.6568542,9 12,9 C10.3431458,9 9,10.3431458 9,12 C9,13.6568542 10.3431458,15 12,15 Z M17,8 C16.4477153,8 16,7.55228475 16,7 C16,6.44771525 16.4477153,6 17,6 C17.5522847,6 18,6.44771525 18,7 C18,7.55228475 17.5522847,8 17,8 Z"
          ></path>
        </svg>
      </a>

      <a
        target="_blank"
        href="https://www.linkedin.com/in/thisissadman"
        aria-label="LinkedIn"
        class="text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-8"
        >
          <path
            d="M18.3362 18.339H15.6707V14.1622C15.6707 13.1662 15.6505 11.8845 14.2817 11.8845C12.892 11.8845 12.6797 12.9683 12.6797 14.0887V18.339H10.0142V9.75H12.5747V10.9207H12.6092C12.967 10.2457 13.837 9.53325 15.1367 9.53325C17.8375 9.53325 18.337 11.3108 18.337 13.6245V18.339H18.3362ZM7.00373 8.57475C6.14573 8.57475 5.45648 7.88025 5.45648 7.026C5.45648 6.1725 6.14648 5.47875 7.00373 5.47875C7.85873 5.47875 8.55173 6.1725 8.55173 7.026C8.55173 7.88025 7.85798 8.57475 7.00373 8.57475ZM8.34023 18.339H5.66723V9.75H8.34023V18.339ZM19.6697 3H4.32923C3.59498 3 3.00098 3.5805 3.00098 4.29675V19.7033C3.00098 20.4202 3.59498 21 4.32923 21H19.6675C20.401 21 21.001 20.4202 21.001 19.7033V4.29675C21.001 3.5805 20.401 3 19.6675 3H19.6697Z"
          ></path>
        </svg>
      </a>

      <a
        target="_blank"
        href="https://www.x.com/in/msadmanalam"
        aria-label="X"
        class="text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="2.1em"
          height="2.1em"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M13.1,11.1l4.3-4.7h-1l-3.8,4.1l-3-4.1H6l4.6,6.2l-4.7,5h1.1l4.1-4.4l3.3,4.4H18L13.1,11.1z M7.6,7.2h1.6l7.2,9.7h-1.6L7.6,7.2z"
          ></path>
        </svg>
      </a>
    </div>

    <LogoWall />

    <div class="flex flex-col lg:flex-row items-center gap-8 mt-6">
      <SkillsList client:load />
      <div
        class="flex justify-center md:w-full md:h-[292px] size-[290px] pt-3 md:pt-9 md:ml-16"
      >
        <LetterGlitch
          client:load
          glitchColors={["#a3a3a3ff", "#0BB6A5", "#033631ff"]}
          glitchSpeed={33}
          centerVignette={false}
          outerVignette={true}
          smooth={true}
        />
      </div>
    </div>
  </div>
</section>

<style is:global>
  .shiny-sec {
    background: linear-gradient(135deg, #0BB6A5 25%, #cececeff 50%, #0BB6A5 75%);
    background-size: 400% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: shine 2s linear infinite;
  }

  @keyframes shine {
    0% {
      background-position: 100% 50%;
    }
    30%,
    70% {
      background-position: 0% 50%;
    }
  }
</style>
